<!DOCTYPE html>
<html>
<head>
  <title>CarListr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <%= link_to "Home", root_path %>
  <%= link_to "New Manufacturer", new_manufacturer_path %>
  <%= link_to "New Car", new_car_path %>
</nav>
<p class="notice"><%= flash[:notice] %></p>
<%= yield %>

</body>
</html>
